<!-- <header id="masthead">
<a href="{{ site.domain }}/">Alex LaPrade</a>
  <nav id="headernav" role="navigation">
    <ul>
      <li><a href="{{ site.domain }}/about/">About</a></li>
      <li><a href="{{ site.domain }}/book-notes/">Book Notes</a></li>
      <li><a href="{{ site.domain }}/blogs-posts/">Blog Posts</a></li>
      <li><a href="{{ site.domain }}/contact/">Contact</a>
      </li>
    </ul>
  </nav>
</header> Temporarily commenting out edited header-->

<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
